body{
  font-family: sans-serif;/*le damos el mismo tipo de fuente tipografica a todo el contenido*/
}
/*swe detalla el ancho de la barra de navegación*/
nav{

width: 200px;
}

ul{
  list-style: none; /*se quitan las viñetas del la lista*/
  margin: 0;
  padding: 0;
  line-height: 30px;/* se especifica el espaciado entre líneas*/

}

li{
  /*outline: 1px solid red;*/
  background:#f5f5f0;

}

a{
  display: block;/*se configura su naturaleza tipo bloque*/
  text-decoration: none;/*se quita el subrayado de los links*/
  color: black;
  padding-left: 10px;

}
/*se indica que cuando en cursos este posicionado en el link el color cambie*/
a:hover{
  background: #e0e0d1;
}
/*y cuando este activo el fondo de cambie de color al igual que las letras*/
a:active{
  background: #333;
  color: #fff;
}
/*aquí se está inidcando que el primer elemento de la lista sea de un color específico*/
ul li:first-child{
  background: #f9a91a;
}
/* primer elemento cambia de color*/

ul li:first-child a{
  color:#fff;
}
/*cuando el cursor este posicionado en el primer elemento cambia de color*/

ul li:first-child a:hover{
  color:#000;
}
/*cuando la primera etiqueta este activa las letras cambian de color*/
ul li:first-child a:active{
  color:#fff;
}
